* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: rgba(173, 170, 164, 0.719);
	height: 100vh;
}

.moving_ball {
	border-radius: 50%;
	background-image: url("./soccer_ball.svg");
	background-size: cover;
	height: 14rem;
	width: 14rem;
	transition: 2s all ease;
	position: absolute;
	top: 30%;
	left: 0%;
    animation: moveBall 4s infinite;
}

@keyframes moveBall {
	0% {
		left: 0;
        rotate: 0deg;
	}
	50% {
		left: calc(100% - 14rem);
        rotate: 360deg;

	}
	100% {
		left: 0;
        rotate: 0deg;
	}
}
